tablanutricional.dtd

<!DOCTYPE tabla
[
<!ELEMENT tabla (alimento+)>
<!ELEMENT alimento (nombre,kcal,hc?,prot?,grasas?,categoria,tipo)>
<!ATTLIST alimento codigo NMTOKEN #REQUIRED>
<!ATTLIST alimento codigo ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT kcal (#PCDATA)>
<!ELEMENT hc (#PCDATA)>
<!ELEMENT prot (#PCDATA)>
<!ELEMENT grasas (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
]>
